<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @person.section.name %>
</p>

<p>
  <strong>Pc:</strong>
  <%= @person.pc.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
