<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @person.section.name %>
</p>

<p>
  <strong>Pc:</strong>
  <%= @person.pc.name %>
</p>

<p>
  <strong>画像</strong>
  <%= image_tag @person.photo.image, width:400 if @person.photo %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
