<!DOCTYPE html>
<html>
  <head>
    <title>Vagrant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p>links</p>
      <ul>
        <li><%= link_to 'Project', projects_path %></li>
        <li><%= link_to 'Todo', todos_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
